
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', 'Roboto', sans-serif;
}

@import "componentes/_header.scss";
@import "componentes/footer";
@import "componentes/pitch";
@import "componentes/testimonio";
@import "componentes/cotizacion";
@import "componentes/coti";
@import "componentes/portafolio";
@import "componentes/servicios";
@import "componentes/store";
@import "componentes/blog";
@import "base/button";
@import "base/texto";

