footer {
    padding: 25px;
    background: url('imagenes/background.png');
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info,
.serv,
.conta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

