header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.logo img{
    width: 300px;
    height: auto;
    padding-left: 15px;
}
.menu{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: #eeeeec;
    border-radius: 25px;
    padding: 5px;
    font-weight: medium;
}
.menu a{
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu a:hover{
    color: #b3b3b3;
    font-weight: bolder;
}