@media only screen and (max-width: 699px) {
    .servicios{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.serbrand{
    background-color: #f2f2f2;
    width: 80%;
    max-width: 450px;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.servicios img{
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;
    align-items: center;
}
.servicios img:hover{
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%);
}

.servicios img:hover::after {
    content: "Descripción del proyecto"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    
  }

  .servicios img:hover ::after{
    opacity: 1;
  }
  .titulo{
    font-size:  2.5rem;
    font-weight: bold;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 700px) {
    .servicios{
    display: flex;
    justify-content: space-around;
}
.serbrand{
    background-color: #f2f2f2;
    width: 80%;
    max-width: 450px;
    height: auto;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
    flex-basis: 30%;
    margin-bottom: 50px;
    text-align: center;
}
.servicios img{
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;
    align-items: center;
}
.servicios img:hover{
    cursor: pointer;
    opacity: 0.5;
    filter: grayscale(100%);
}

.servicios img:hover::after {
    content: "Descripción del proyecto"; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s;
    
  }

  .servicios img:hover ::after{
    opacity: 1;
  }
  .titulo{
    font-size: 2 rem;
    font-weight: bold;
    margin-top: 15px;
  }
}