.testimonio{
    align-items: center;
    background-image: url('../imagenes/background.png');
    background-size: cover;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 55px;
    margin-top: 25px;
    margin-bottom: 45px;
}
.test{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    margin-bottom: 25px;
}
.carousel-inner{
    width: 550px; 
    min-height: auto;
    margin: 0 auto; 
    align-items: center;
}